<div class='box'>
  <h3 class='subtitle'>Pending invites</h3>
  <ul>
    <% if @user.pending_events.empty? %>
      <li>You have no pending invites</li>
    <% else %>
      <% @user.pending_events.each do |event|%>
        <li><%= link_to "#{event.name}", event %> <br>
          Hosted by: <%= event.creator.name %> <br>
          <%= event.date.localtime.to_formatted_s(:long) %><%= button_to 'Accept', accept_invite_path, params: { user: @user.id, event: event.id } %>
          <%= button_to 'Decline', decline_invite_path, params: { user: @user.id, event: event.id } %></li>
      <% end %>
    <% end %>
  </ul>
</div>
