<div class='columns is-multiline is-centered'>
  <div class='column is-full'>
    <h1 class='title is-4 has-text-centered'>Welcome <%= @user.name %>!</h1>
  </div>
  <div class='column is-one-quarter'></div>
  <div class='column is-half has-text-centered'>
    <%= render 'hosting_events'  %>
  </div>
  <div class='column is-one-quarter'></div>
  <div class='column is-full has-text-centered'>
    <%= button_to 'Create Event', new_event_path, method: :get, class: 'button is-medium' %>
  </div>
  <div class='column is-5 has-text-centered'>
    <%= render 'upcoming_events' %>
  </div>
  <div class='column is-1'></div>
  <div class='column is-5  has-text-centered'>
    <%= render 'past_events' %>
  </div>
  <div class='column is-full has-text-centered'>
    <%= button_to 'All Events',  events_path, method: :get, class: 'button is-medium' %>
  </div>
  <div class='column is-5 has-text-centered'>
    <%= render 'pending_invites' %>
  </div>
  <div class='column is-1'></div>
  <div class='column is-5  has-text-centered'>
    <%= render 'declined_invites' %>
  </div>
</div>
