<div class='columns is-multiline is-centered'>
  <div class='column is-full'>
    <h1 class='title is-4 has-text-centered'>Welcome <%= @user.name %>!</h1>
  </div>
  <div class='column is-one-quarter'></div>
  <div class='column is-half has-text-centered'>
    <div class='box'>
      <h3 class='subtitle'>Events you are hosting:</h3>
      <ul>
        <% if @hosted_events.empty? %>
          <li>You are not hosting any events</li>
        <% else %>
          <% @hosted_events.each do |event|%>
            <li><%= link_to "#{event.name}", event %> <br>
              <%= event.date.localtime.to_formatted_s(:long) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='column is-one-quarter'></div>
  <div class='column is-full has-text-centered'>
    <%= button_to 'Create Event', new_event_path, method: :get, class: 'button is-medium' %>
  </div>
  <div class='column is-5 has-text-centered'>
    <div class='box'>
      <h3 class='subtitle'>Upcoming events:</h3>
      <ul>
        <% if @upcoming_events.empty? %>
          <li>You have no events</li>
        <% else %>
          <% @upcoming_events.each do |event| %>
            <li><%= link_to "#{event.name}", event %> <br>
              <%= event.creator.name %> <br>
              <%= event.date.localtime.to_formatted_s(:long) %></li>
            <br>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='column is-1'></div>
  <div class='column is-5  has-text-centered'>
    <div class='box'>
      <h3 class='subtitle'>Past events:</h3>
      <ul>
        <% if @past_events.empty? %>
          <li>You have no past events</li>
        <% else %>
          <% @past_events.each do |event| %>
            <li><%= link_to "#{event.name}", event %> <br>
              Hosted by: <%= event.creator.name %> <br>
              <%= event.date.localtime.to_formatted_s(:long) %></li>
            <br>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='column is-full has-text-centered'>
    <%= button_to 'All Events',  events_path, method: :get, class: 'button is-medium' %>
  </div>
</div>
