<% if flash[:error] %>
  <p><%= flash[:error] %></p>
  <br>
<% end %>
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>
<h1>Welcome <%= @user.name %>!</h1>
<br>
<h3>Events you are hosting:</h3>
<ul>
  <% if @hosted_events.empty? %>
    <li>You are not hosting any events</li>
  <% else %>
    <% @hosted_events.each do |event|%>
      <li><%= link_to "#{event.name}", event %></li>
    <% end %>
  <% end %>
</ul>
<br>
<h3>Upcoming events:</h3>
<ul>
  <% if @upcoming_events.empty? %>
    <li>You have no events</li>
  <% else %>
    <% @upcoming_events.each do |event| %>
      <li><%= link_to "#{event.name}", event %></li>
    <% end %>
  <% end %>
</ul>
<br>
<h3>Past events:</h3>
<ul>
  <% if @past_events.empty? %>
    <li>You have no past events</li>
  <% else %>
    <% @past_events.each do |event| %>
      <li><%= link_to "#{event.name}", event %></li>
    <% end %>
  <% end %>
</ul>
<br>
<%= button_to 'Create Event', new_event_path, method: :get %>
<br>
<%= button_to 'All Events',  events_path, method: :get %>
