<div class='section pt-1 pb-5'>
  <div class='columns is-centered'>
    <div class='column is-4'>
      <%= form_with(model: event, local: true) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %>
              prohibited this event from being saved:</h2>
            <ul>
              <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class='field'>
          <%= form.label :name, 'Event name:', class: 'label' %>
          <%= form.text_field :name, class: 'input' %>
        </div>
        <div class='field'>
          <%= form.label :body, 'Description:' , class: 'label'%>
          <%= form.text_area :body, size: "40x10", class: 'input' %>
        </div>
        <div class='field'>
          <%= form.label :location, 'Location:', class: 'label' %>
          <%= form.text_field :location, class: 'input' %>
        </div>
        <div class='field'>
          <%= form.label :date, 'Date:' , class: 'label'%>
          <%= form.datetime_local_field :date, class: 'input' %>
        </div>
        <div class='has-text-centered'>
          <%= form.submit 'Create Event', class: 'button is-medium' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
