<div class='box has-text-centered'>
  <h1 class='title is-4 has-text-centered'><%= @event.name %></h1>
  <h3 class='subtitle has-text-centered'>Hosted by: <%= @event.creator.name %></h3>
  <p><%= @event.body %></p>
</div>
<div class='columns is-multiline has-text-centered'>
  <div class='column is-full'>
    <h3 class='subtitle'>Attendees:</h3>
    <% if @event.attendees.empty? %>
      <p>No attendees</p>
    <% else %>
      <table class='table is-bordered center'>
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
          <% @event.attendees.each do |attendee| %>
            <tr>
              <td><%= attendee.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
  </div>
  <div class='column is-4'>
    <% if session[:user_id] == @event.creator.id %>
      <h3 class='subtitle'>Send Invitations:</h3>
      <% if users_available_to_invite.empty? %>
        <p>No one is available</p>
      <% else %>
        <table class='table center'>
          <thead>
            <th>Name</th>
            <th>Invite</th>
          </thead>
          <tbody>
            <% users_available_to_invite.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td> <%= button_to 'Send Invite', send_invite_path, params: { user: user.id, event: @event.id }, class: 'button is-small is-info' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class='column is-4'>
      <h3 class='subtitle'>Pending Invitations:</h3>
      <% if @event.pending_attendees.empty? %>
        <p>No pending invitations</p>
      <% else %>
        <table class='table center'>
          <thead>
            <th>Name</th>
          </thead>
          <tbody>
            <% @event.pending_attendees.each do |user| %>
              <tr>
                <td><%= user.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class='column is-4'>
      <h3 class='subtitle'>Declined Invitations:</h3>
      <% if @event.declined_attendees.empty? %>
        <p>No declined invitations</p>
      <% else %>
        <table class='table center'>
          <thead>
            <th>Name</th>
          </thead>
          <tbody>
            <% @event.declined_attendees.each do |user| %>
              <tr>
                <td><%= user.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
