<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class='title is-5 has-text-primary'>Private Events</h1>
        <% end %>
        <div role ='button' class='navbar-burger' data-target='navbarExample'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id='navbarExample' class='navbar-menu'>
        <div class='navbar-end'>
          <% if session[:user_id] %>
            <p class='navbar-item'><%= User.find(session[:user_id]).name %></p>
            <p class='navbar-item is-link'><%= link_to 'Logout', logout_path, method: :delete %></p>
          <% else %>
            <%= link_to signup_path, class: 'navbar-item nav-hover' do %>
              <p>Sign Up</p>
            <% end %>
            <%= link_to login_path, class: 'navbar-item nav-hover' do %>
              <p>Login</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
