<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar pb-6' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class='title is-3 has-text-primary'>Private Events</h1>
        <% end %>
        <div role ='button' class='navbar-burger' data-target='navbarExample'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id='navbarExample' class='navbar-menu'>
        <div class='navbar-end'>
          <% if signed_in? %>
            <p class='navbar-item'><%= signed_in_user_path %></p>
            <p class='navbar-item is-link'><%= link_to 'Logout', logout_path, method: :delete %></p>
          <% else %>
            <%= link_to signup_path, class: 'navbar-item' do %>
              <p>Sign Up</p>
            <% end %>
            <%= link_to login_path, class: 'navbar-item ' do %>
              <p>Login</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
    <% if flash[:alert] %>
      <aside class='message is-warning' id='message'>
        <p class='message-header'>Notice</p>
        <p class='message-body'><%= flash[:alert] %></p>
      </aside>
    <% end %>
    <% if flash[:error]%>
      <aside class='message is-danger' id='message'>
        <p class='message-header'>Error</p>
        <p class='message-body'><%= flash[:error]%></p>
      </aside>
    <% end %>
    <% if flash[:success]%>
      <aside class='message is-success' id='message'>
        <p class='message-header'>Success</p>
        <p class='message-body'><%= flash[:success]%></p>
      </aside>
    <% end %>
    <%= yield %>
  </body>
</html>
